img{
    border: 5px solid blue;
}

div#square-1{
    border: 2px solid black; 
    background-color: red;
    width: 100px;
    height: 100px;   
}

div#circle-1{
   border:2px solid blue;
   background-color: yellow;
   width: 30px;
   height: 30px;
   border-radius: 50%;
}