img{
    width: 300px;
}

div{
    text-align: center;
}

div.topic{
    border: 1px solid black;
}

div.city{
    border: 1px solid black;
    margin-bottom: 10px;
    width: 400px;
}

div.raipur-city{
    width: 40px;
    height: 40px;
    background-color: red;
    margin-bottom: 10px;
}

div.bilaspur-city{
    width: 40px;
    height: 40px;
    background-color: blue;
    margin-bottom: 10px;
}